POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres

# Volume Path
POSTGRES_DATA_PATH=./postgres-rest-api-data
POSTGRES_INIT_SQL_PATH=./init.sql

# PgAdmin Configuration
PGADMIN_EMAIL=admin@local.com
PGADMIN_PASSWORD=postgres

# PostgREST Configuration
PGRST_DB_URI=postgres://postgres:postgres@postgres:5432/postgres
PGRST_DB_SCHEMA=public
PGRST_DB_ANON_ROLE=postgres
